<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 使用注解的包，包括子集 -->
    <context:component-scan base-package="com.snail.web.*.controller"/>
    <mvc:annotation-driven />
    <!--<mvc:resources mapping="/css/**" location="/css/" />-->
    <mvc:resources mapping="/charisma/css/**" location="/charisma/css/" />
    <mvc:resources mapping="/charisma/js/**" location="/charisma/js/" />
    <mvc:resources mapping="/charisma/fonts/**" location="/charisma/fonts/" />
    <mvc:resources mapping="/charisma/bower_components/**" location="/charisma/bower_components/" />
    <mvc:resources mapping="/charisma/img/**" location="/charisma/img/" />
    <mvc:resources mapping="/bootstrap-treeview/**" location="/bootstrap-treeview/" />
    <!-- 启动注解驱动，支持对象与json的转换。 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                        <value>application/xml;charset=UTF-8</value>
                    </list>
                </property>
                <property name="defaultCharset" value="UTF-8"/>

            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 视图解析器 -->
    <bean id="viewResolver"
          class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="contentType" value="text/html"/>
        <property name="prefix" value="/WEB-INF/page/" />
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--<aop:config proxy-target-class="true"></aop:config>-->
    <!--<bean  class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">-->
        <!--<property name="securityManager" ref="securityManager" />-->
    <!--</bean>-->

</beans>